.dad {
    display: flex;
    width: 75%;
    margin: 0 auto;
}

.container {
    display: flex;
    width: 100%;
    margin-top: 10%;
    flex-direction: column;
    margin-bottom: 10%;
}

.container h1 {
    font-size: 2.4em;
    margin-bottom: 3%;
}

.container p {
    font-size: 1.6em;
    width: 80%;
    margin: 0 0 5% 2%;
    font-weight: 599;
}
.container a {
    display: flex;
    width: 225px;
    height: 70px;
    text-decoration: none;
}
.container button {
    width: 100%;
    font-size: 1.6em;
    border-radius: 10px;
    border: none;
    background-color: #0279b0;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
    transition: all 150ms ease-in-out;
}
.container button:hover {
    background-color: #025e8c;
}

@media (max-width:768px) {
    .container {
        margin-top: 16%;
        margin-bottom: 16%;
    }
    .container h1 {
        font-size: 2em;
    }
    .container p {
        font-size: 1.4em;
        width: 100%;
        margin: 0 0 5% 0;
    }
    .container a {
        width: 175px;
    }
    .container button {
        font-size: 1.4em;
    }
}