/* predefinindo pra todos msem margem e sem padding*/
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* definindo o corpo da pagina*/
body {
    background-color: #008B8B;
    color : white;
    font-size : 22px;
    text-align: center;
}

#desc {
    display: inline-block;
    width: 650px;
    text-align: justify;
    margin: 10px;
}
#desc li{
    margin: 10px;
}

.desc1 {
    display: inline-block;
    text-align: justify;
    margin: 10px;
    padding-left: 50px;
}
.desc1 li {
    margin: 10px;
}
/*Arredondamento da foto*/
.box {
    border-radius: 125px;
    margin-top: 80px;
    margin-bottom: 50px;
}
/*Titulo e subtitulos*/
.title {
    font-size : 80px;
}
#subtitle {
    font-size : 60px;
    display: inline-block;
}

#subtitle1 {
    font-size : 60px;
    display: inline-block;
    margin-top: 20px;
}
#subtitle2 {
    font-size : 60px;
    display: inline-block;    
}
#subtitle3 {
    font-size : 40px;
    display: inline-block;    
    margin-top: 10px;
}
#subdesc {
    margin-top: 20px;
    margin-bottom: 200px;
}
/* criação do menu*/

nav {
    overflow: hidden;
}

.fixoNoTopo {
    position: fixed;
    top: 0px;
    width: 100%;
}

#menu ul{
    list-style: none;
    padding: 0;
    background-color: #2c3e50;
    text-align: right;
}
#menu ul li {
    display: inline;
    text-align: left;
}
#menu ul li a {
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;

}
#menu li a:hover{
    color: #008B8B;
    transition: all .2s ease-in-out;
}
#menu ul li:first-child {
    float: left;
    padding: 20px;
}

/*Formulário*/
fieldset {
    border: 0;
}

input, textarea, button {
    border-radius: 5px;
}

.campo {
    margin-bottom: 1em;
}
.campo label {
    margin-bottom: 0.2em;
    display: block;
}

.campo input[type="text"], .campo input[type="email"], .campo input[type="tel"] {
    padding: 0.2em;
    border: 1px solid;
    box-shadow: 1px 1px 1px rgb(0,0,0);
    display: block;
}

.campo input:focus, .campo textarea:focus {
    background: rgb(185, 248, 252);
}

.botao {
    font-size: 1.2em;
    background: #008B8B;
    border: 0;
    margin-bottom: 1em;
    padding: 0.2em 0.6em;
    box-shadow: 1px 1px 1px rgb(0,0,0);
}
.botao:hover {
    transition: all .2s ease-in-out;
    background-color: white;
    color: #008B8B;
}

#formu {
    padding-top: 10px;
    background-color: white;
    color: #008B8B;
}
textarea {
    box-shadow: 1px 1px 1px rgb(0,0,0);
}

/*Animação da img*/
#ani{position:relative;top:0}
#ani:hover{top:-4px;filter: invert(100%);
    transition: all .3s ease-in-out .25ms}

#img {
    margin-top: 10px;
}


/*Criação da barra*/
.divider-custom .divider-custom-line{width:100%;display: inline-block;max-width:7rem;height:.25rem;background-color:#2c3e50;border-radius:1rem;border-color:#2c3e50!important}
.divider-custom .divider-custom-line:first-child{margin-right:1rem}
.divider-custom .divider-custom-line:last-child{margin-left:1rem}
.divider-custom .divider-custom-icon{color:#2c3e50!important;font-size:2rem}
.divider-custom .divider-light .divider-custom-line{background-color:#fff}