* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

body {
    font-size: 22px;
    color: black;
}


/*CRIAÇÃO DO MENU */
nav {
    display: flex;
}

.menu{
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 40px;
}
.menu ul {
    list-style: none;
    padding: 0;
    margin-left: 25px;

}
.menu ul li {
    display: inline;
}
.menu ul li a {
    padding: 20px;
    margin-left: 10px;
    display: inline-block;
    text-decoration: none;
    color: black;
}
.menu li a:hover{
    text-decoration: underline;
}
.menu1 {

}
.icones {
    display: flex;
}

/*-------------------------*/